<head>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
        <label for="phone">phone:</label><br>
        <input type="text" id="phone" name="phone">
        <label for="address">address:</label><br>
        <input type="text" id="address" name="address">
      </form>
</head>